$c1: #03065D
$c2: #000000

$cb11: #DDFEF9
$cb12: #C7FCF2
$cb13: #00E8B6

$cb21: #F4EFFC
$cb22: #F0E7FF
$cb23: #CEB0FF

$cb31: #FFEAEF
$cb32: #FFDFE7
$cb33: #FFB4F6

.d-none
	display: none !important

.cta_carousel_block
	border-radius: 30px
	margin-bottom: 50px
	background-position: bottom right

	&.cta_carousel_lime
		background-color: $cb11
	&.cta_carousel_violet
		background-color: $cb21
	&.cta_carousel_pitch
		background-color: $cb31

	.cta_carousel_block_wrapper
		padding: 40px 60px
		display: flex
		flex-direction: row
		.cta_carousel_block_text
			.h3
				color: $c1
				font-size: 40px
				font-weight: bold
		.cta_carousel_block_cards
			width: 320px
			flex-shrink: 0

		.cta_carousel_block_card
			background-color: #fff
			width: 260px
			height: 330px
			position: relative
			border-radius: 15px
			box-shadow: 0 3px 6px #00000033


swiper-container.cta_cards_slider
	width: 240px
	height: 320px

	.swiper-button-prev, .swiper-button-next
		color: green
		svg path
			fill: green

	swiper-slide
		display: flex
		align-items: center
		justify-content: center
		border-radius: 18px
		font-size: 22px
		font-weight: bold
		color: #fff

.swiper-slide-shadow-cards
	background-color: transparent !important

.SwiperSecond.swiper_button_cta_prev .swiper_button_cta_next
	background-color: #fff
	box-shadow: 0 3px 6px #00000033



/* // LG */
@media (max-width: 1199px)
	//

/* // MD */
@media (max-width: 991px) 
	.cta_carousel_block
		.cta_carousel_block_wrapper
			padding: 40px 60px
			display: flex
			flex-direction: column
			.cta_carousel_block_cards
				margin-left: auto
				margin-right: auto
/* // SM */
@media (max-width: 767px)
	//

/* // XS */
@media (max-width: 575px) 
	//
