$c1: #03065D
$c2: #000000

$cb11: #DDFEF9
$cb12: #C7FCF2
$cb13: #00E8B6

$cb21: #F4EFFC
$cb22: #F0E7FF
$cb23: #CEB0FF

$cb31: #FFEAEF
$cb32: #FFDFE7
$cb33: #FFB4F6

.d-none
	display: none !important

.cta_carousel_block
	border-radius: 30px

	&.cta_carousel_lime
		background-color: $cb11
		background-image: url(../img/cta_bg_10.png)
		background-position: bottom right
		background-size: cover
	.cta_carousel_block_wrapper
		padding: 40px 60px
		display: flex
		flex-direction: row
		.cta_carousel_block_text
			.h3
				color: $c1
				font-size: 40px
				font-weight: bold
		.cta_carousel_block_cards
			width: 320px
			flex-shrink: 0

		.cta_carousel_block_card
			background-color: #fff
			width: 260px
			height: 330px
			position: relative
			border-radius: 15px
			box-shadow: 0 3px 6px #00000033


swiper-container
	width: 240px
	height: 320px

swiper-slide
	display: flex
	align-items: center
	justify-content: center
	border-radius: 18px
	font-size: 22px
	font-weight: bold
	color: #fff

swiper-slide:nth-child(1n)
	background-color: rgb(206, 17, 17)

swiper-slide:nth-child(2n)
	background-color: rgb(0, 140, 255)

swiper-slide:nth-child(3n)
	background-color: rgb(10, 184, 111)

swiper-slide:nth-child(4n)
	background-color: rgb(211, 122, 7)

swiper-slide:nth-child(5n)
	background-color: rgb(118, 163, 12)

swiper-slide:nth-child(6n)
	background-color: rgb(180, 10, 47)

swiper-slide:nth-child(7n)
	background-color: rgb(35, 99, 19)

swiper-slide:nth-child(8n)
	background-color: rgb(0, 68, 255)

swiper-slide:nth-child(9n)
	background-color: rgb(218, 12, 218)

swiper-slide:nth-child(10n)
	background-color: rgb(54, 94, 77)
