.d-none {
  display: none !important;
}

body {
  min-width: 360px;
}

.home .site-content > .wrapper {
  padding-top: 30px;
}

.text-center {
  text-align: center !important;
}

.site-content details {
  margin-top: -10px;
}

.site-content details[open] {
  border-bottom: 0px;
}

.site-content summary {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  -webkit-text-decoration: underline #00E8B6 4px;
          text-decoration: underline #00E8B6 4px;
  margin-bottom: 15px;
}

.entry-content .wpb_wrapper ul li {
  font-size: 16px;
}

.entry-content .cta_carousel_block {
  background-position: bottom right !important;
}

.site-main {
  font-size: 16px;
}

.cta_carousel_block {
  border-radius: 30px;
  margin-bottom: 50px;
  background-position: bottom right;
  background-size: 920px;
  background-repeat: no-repeat;
}
.cta_carousel_block.cta_carousel_lime {
  background-color: #DDFEF9;
}
.cta_carousel_block.cta_carousel_violet {
  background-color: #F4EFFC;
}
.cta_carousel_block.cta_carousel_pitch {
  background-color: #FFEAEF;
}
.cta_carousel_block .cta_carousel_block_wrapper {
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
}
.cta_carousel_block .cta_carousel_block_text h3, .cta_carousel_block .cta_carousel_block_text .h3 {
  font-size: 30px !important;
  color: #03065D;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.cta_carousel_block .cta_carousel_block_cards {
  width: 320px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.cta_cards_slider {
  width: 240px;
  height: 320px;
}
.cta_cards_slider .swiper-slide {
  border-radius: 20px;
  overflow: visible;
}
.cta_cards_slider .swiper-slide img {
  width: 100%;
  display: inline-block;
}
.cta_cards_slider .swiper-slide .swiper-slide-shadow {
  background: none;
}
.cta_cards_slider .swiper_button_cta_prev {
  margin-left: -20px;
}
.cta_cards_slider .swiper_button_cta_next {
  margin-right: -20px;
}
.cta_cards_slider .swiper_button_cta_prev, .cta_cards_slider .swiper_button_cta_next {
  background-color: #00e8b6 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.cta_cards_slider .swiper_button_cta_prev::after, .cta_cards_slider .swiper_button_cta_next::after {
  font-size: 14px;
  color: #03065D;
}

.cta_carousel_lime .swiper_button_cta_prev, .cta_carousel_lime .swiper_button_cta_next {
  background-color: #00E8B6 !important;
}

.cta_carousel_violet .swiper_button_cta_prev, .cta_carousel_violet .swiper_button_cta_next {
  background-color: #CEB0FF !important;
}

.cta_carousel_pitch .swiper_button_cta_prev, .cta_carousel_pitch .swiper_button_cta_next {
  background-color: #FFB4F6 !important;
}

/* CARD */
.cta_carousel_block_card {
  font-family: "Montserrat", serif;
  position: absolute;
  top: 0;
  left: 0;
}

.cta_carousel_block_card {
  width: 240px;
  height: 320px;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  border-radius: 10px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.cta_carousel_block_card .brand-count {
  background-color: #00E8B6;
  position: absolute;
  right: 25px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 35px;
  height: 35px;
}
.cta_carousel_block_card .inner-table-col:first-child img {
  width: 75px;
  height: 75px;
}
.cta_carousel_block_card .brand-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  height: 68px;
  width: 100px;
  white-space: break-spaces;
  overflow: hidden;
}
.cta_carousel_block_card .brand-rank {
  color: #E69B45;
}
.cta_carousel_block_card .brand-rate {
  color: #999;
  font-size: 14px;
}
.cta_carousel_block_card .cta_carousel_block_row {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.cta_carousel_block_card .cta_carousel_block_logo img {
  width: 80px;
}
.cta_carousel_block_card .cta_carousel_description {
  margin-top: auto;
  border-top: 1px solid #EBEBEB;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.cta_carousel_block_card .cta_carousel_description .cta_carousel_title {
  font-weight: 600;
}
.cta_carousel_block_card .cta_carousel_description .cta_carousel_subtitle {
  margin-bottom: 7px;
}
.cta_carousel_block_card .cta_carousel_btn {
  background-color: #00E8B6;
  color: #03065D;
  border-color: transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: 100%;
  padding: 0.3rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta_carousel_block_card .cta_carousel_disclaimer {
  font-size: 12px !important;
  line-height: 12px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  color: #ccc;
  margin-left: -10px;
  margin-right: -10px;
}

.cta_carousel_lime .cta_carousel_btn, .cta_carousel_lime .brand-count {
  background-color: #00E8B6;
}

.cta_carousel_violet .cta_carousel_btn, .cta_carousel_violet .brand-count {
  background-color: #CEB0FF;
}

.cta_carousel_pitch .cta_carousel_btn, .cta_carousel_pitch .brand-count {
  background-color: #FFB4F6;
}

/* // XS */
@media (max-width: 440px) {
  .cta_carousel_block .cta_carousel_block_cards {
    transform: translateX(-40px);
  }
  .cta_carousel_block .cta_carousel_block_text h3 {
    font-size: 22px !important;
  }
}
/* CARD: end */
/* BLANK */
.bgp_br, .bgp_br > div {
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
}

.pika_steps {
  overflow: hidden;
}

.pika_badge {
  position: relative;
  border-radius: 0 30px 0 0;
}
.pika_badge::before {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: yellow;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 2px;
  top: -15px;
  left: -15px;
}

#pika_badge_01::before {
  content: "1";
}

#pika_badge_02::before {
  content: "2";
}

#pika_badge_03::before {
  content: "3";
}

#pika_badge_04::before {
  content: "4";
}

#pika_badge_05::before {
  content: "5";
}

.triptih {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 15px;
}

.triptih_card {
  padding-top: 100px;
  width: 32%;
}

.triptih_body {
  background-color: #EFE5FF;
  text-align: center;
  border-radius: 20px;
}
.triptih_body img {
  display: inline-block;
  margin-top: -80px;
}

.triptih_h4 {
  font-size: 28px;
  line-height: 130%;
  font-weight: bold;
  height: 120px;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triptih_p {
  padding: 15px 20px;
  margin-bottom: 20px;
  min-height: 280px;
}

/* FAQ */
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading {
  background-color: transparent !important;
}

.vc_tta-panel .vc_tta-panel-title a {
  color: #333333 !important;
}

.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title > a {
  color: #222 !important;
}

.vc_tta-controls-icon.vc_tta-controls-icon-plus {
  box-shadow: inset 0 0 0 10px #00E8B6, 0 0 0 5px #00E8B6;
  padding: 5px;
  border-radius: 5px;
}

/* BLANK ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
@media (max-width: 991px) {
  .triptih {
    flex-direction: column;
  }
  .triptih_card {
    width: 100%;
  }
  .triptih_p {
    min-height: auto;
  }
}
/* // SM */
/* // XS */
/* BLANK: end */
/* // LG */
/* // MD */
@media (max-width: 991px) {
  .cta_carousel_block .cta_carousel_block_wrapper {
    padding: 20px;
    flex-direction: column;
  }
  .cta_carousel_block .cta_carousel_block_wrapper .cta_carousel_block_cards {
    margin-left: auto;
    margin-right: auto;
  }
  .cta_carousel_block .cta_carousel_block_wrapper .cta_carousel_block_text .h3 {
    font-size: 28px !important;
    line-height: 140% !important;
  }
}
/* // SM */
@media (max-width: 767px) {
  .site-content .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
/* // XS *//*# sourceMappingURL=styles.css.map */